Repository ctmansfield/health_portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @db-team, @repo-admins, @app-team, @docs-team

fixed auth.py
  srv/api/auth_user.py
Owners: none

checkpoint
  .vscode/settings.json
  .vscode/tasks.json
  VERIFY_ALL.sh
  blocks/active/APP-2/CHECKLIST.md
  blocks/active/APP-2/PROMPT.md
  blocks/active/APP-2/README.md
  blocks/active/APP-3/CHECKLIST.md
  blocks/active/APP-3/PROMPT.md
  blocks/active/APP-3/README.md
  blocks/active/DB-1/CHECKLIST.md
  blocks/active/DB-1/PROMPT.md
  blocks/active/DB-1/README.md
  blocks/registry.yaml
  core/contracts.yaml
  docs/LLM_Coder_VS_Quickstart.md
  docs/checkpoints/2025-09-10_genomics_seed_and_cron.md
  docs/checkpoints/2025-09-10_genomics_summary.md
  jobs/refresh_genomics_summary.py
  jobs/refresh_materialized_views.py
  scripts/block/open_block.sh
  scripts/block/push_block_branches.sh
  scripts/block/seed_top3.sh
  scripts/block/vs_open_block.sh
  services/healthdb-pg-0001/init/053_genomics_summary.sql
  services/healthdb-pg-0001/init/054_seed_demo.sql
  services/healthdb-pg-0001/init/055_genomics_summary_indexes.sql
  services/healthdb-pg-0001/init/056_report_exec_summary.sql
  services/healthdb-pg-0001/migrations/001_report_baseline_down.sql
  services/healthdb-pg-0001/migrations/001_report_baseline_up.sql
  services/healthdb-pg-0001/migrations/002_report_baseline_test.sql
  services/healthdb-pg-0001/migrations/verify_report_baseline.sh
  tests/integration/test_db_smoke.py
Owners: @docs-team, @repo-admins, @db-team

chore(ci): add neutralized workflow placeholder
  .github/workflows_disabled/db-report-verify.yml
Owners: @repo-admins

feat(db): baseline schema & exec summary view (DB-1)
  blocks/done/DB-1/FINAL_SUMMARY.md
  blocks/registry.yaml
Owners: none

chore(blocks): fix Assign task & script (export ID/ASSIGNEE)
  .vscode/tasks.json
  scripts/block/assign_block.sh
Owners: none

APP-3: GET /reports/{id}/summary — dashboard card payload
  .gitignore
  .vscode/tasks.json
  api/openapi.genomics_reports.v1.yaml
  app/api/__pycache__/__init__.cpython-312.pyc
  app/api/__pycache__/main.cpython-312.pyc
  app/hp_etl/__pycache__/__init__.cpython-312.pyc
  app/hp_etl/__pycache__/anom.cpython-312.pyc
  app/hp_etl/__pycache__/db.cpython-312.pyc
  app/hp_etl/__pycache__/events.cpython-312.pyc
  app/hp_etl/__pycache__/simple_cache.cpython-312.pyc
  app/hp_etl/__pycache__/state.cpython-312.pyc
  app/routers/reports_summary.py
  blocks/active/APP-2/FINAL_SUMMARY.md
  blocks/done/APP-3/CHECKLIST.md
  blocks/done/APP-3/PROMPT.md
  blocks/done/APP-3/README.md
  blocks/registry.yaml
  scripts/block/assign_block.sh
  srv/__pycache__/__init__.cpython-312.pyc
  srv/api/__pycache__/__init__.cpython-312.pyc
  srv/api/__pycache__/auth.cpython-312.pyc
  srv/api/__pycache__/dashboard_events.cpython-312.pyc
  srv/api/__pycache__/main.cpython-312.pyc
  srv/api/auth.py
  srv/api/dashboard.py
  srv/api/dashboard_events.py
  srv/api/genomics.py
  srv/api/main.py
  srv/api/reports.py
  tests/__pycache__/test_anom.cpython-312-pytest-8.4.2.pyc
  tests/__pycache__/test_ui_integration.cpython-312-pytest-8.4.2.pyc
  tests/test_app_reports.py
  tests/test_reports_summary.py
  tests/test_ui_integration.py
Owners: @app-team, @repo-admins

feat(app): GET /reports/{id} (APP-2)
  blocks/done/APP-2/FINAL_SUMMARY.md
  blocks/registry.yaml
Owners: none

feat(app): GET /reports/{id}/summary (APP-3)
  blocks/registry.yaml
Owners: none

APP-2 & APP-3: /reports/{id} + /reports/{id}/summary (OpenAPI + tests) (#1)
  .gitignore
  .vscode/tasks.json
  api/openapi.genomics_reports.v1.yaml
  app/api/__pycache__/__init__.cpython-312.pyc
  app/api/__pycache__/main.cpython-312.pyc
  app/hp_etl/__pycache__/__init__.cpython-312.pyc
  app/hp_etl/__pycache__/anom.cpython-312.pyc
  app/hp_etl/__pycache__/db.cpython-312.pyc
  app/hp_etl/__pycache__/events.cpython-312.pyc
  app/hp_etl/__pycache__/simple_cache.cpython-312.pyc
  app/hp_etl/__pycache__/state.cpython-312.pyc
  app/routers/reports_summary.py
  blocks/done/APP-2/FINAL_SUMMARY.md
  blocks/done/APP-3/CHECKLIST.md
  blocks/done/APP-3/PROMPT.md
  blocks/done/APP-3/README.md
  blocks/registry.yaml
  scripts/block/assign_block.sh
  srv/__pycache__/__init__.cpython-312.pyc
  srv/api/__pycache__/__init__.cpython-312.pyc
  srv/api/__pycache__/auth.cpython-312.pyc
  srv/api/__pycache__/dashboard_events.cpython-312.pyc
  srv/api/__pycache__/main.cpython-312.pyc
  srv/api/auth.py
  srv/api/dashboard.py
  srv/api/dashboard_events.py
  srv/api/genomics.py
  srv/api/main.py
  srv/api/reports.py
  tests/__pycache__/test_anom.cpython-312-pytest-8.4.2.pyc
  tests/__pycache__/test_ui_integration.cpython-312-pytest-8.4.2.pyc
  tests/test_app_reports.py
  tests/test_reports_summary.py
  tests/test_ui_integration.py
Owners: @app-team, @repo-admins

chore: sync local changes before rollup
  app/static/js/report_summary_card.js
  app/templates/components/report_summary_card.html
  blocks/active/UI-1/CHECKLIST.md
  blocks/active/UI-1/PROMPT.md
  blocks/active/UI-1/README.md
  blocks/registry.yaml
  docs/UI_SUMMARY.md
  srv/api/dashboard.py
  srv/api/static/js/report_summary_card.js
  srv/api/static/style.css
  srv/api/templates/base.html
  srv/api/templates/dashboard.html
  srv/api/templates/demo_report_summary.html
  srv/api/templates/events.html
  srv/api/templates/events2.html
  srv/api/templates/genomics.html
  srv/api/templates/genomics_report.html
  srv/api/templates/includes/header.html
  srv/api/templates/logged_out.html
  srv/api/templates/login.html
  srv/api/templates/ui_index.html
  tests/test_ui_report_summary_card.py
Owners: @app-team, @docs-team, @repo-admins

chore: sync local changes before rollup (#2)
  app/static/js/report_summary_card.js
  app/templates/components/report_summary_card.html
  blocks/active/UI-1/CHECKLIST.md
  blocks/active/UI-1/PROMPT.md
  blocks/active/UI-1/README.md
  blocks/registry.yaml
  docs/UI_SUMMARY.md
  srv/api/dashboard.py
  srv/api/static/js/report_summary_card.js
  srv/api/static/style.css
  srv/api/templates/base.html
  srv/api/templates/dashboard.html
  srv/api/templates/demo_report_summary.html
  srv/api/templates/events.html
  srv/api/templates/events2.html
  srv/api/templates/genomics.html
  srv/api/templates/genomics_report.html
  srv/api/templates/includes/header.html
  srv/api/templates/logged_out.html
  srv/api/templates/login.html
  srv/api/templates/ui_index.html
  tests/test_ui_report_summary_card.py
Owners: @app-team, @docs-team, @repo-admins

feat(ui+api): Summary Card, Labs Critical page, APP-9 critical-series + Redis caching + preview tooling
  .gitignore
  app/hp_etl/cache.py
  app/static/js/labs_critical_v2.js
  app/templates/components/labs_critical_page.html
  blocks/active/APP-10/CHECKLIST.md
  blocks/active/APP-10/PROMPT.md
  blocks/active/APP-10/README.md
  blocks/active/APP-11/CHECKLIST.md
  blocks/active/APP-11/PROMPT.md
  blocks/active/APP-11/README.md
  blocks/active/APP-9/CHECKLIST.md
  blocks/active/APP-9/PROMPT.md
  blocks/active/APP-9/README.md
  blocks/active/UI-5/CHECKLIST.md
  blocks/active/UI-5/PROMPT.md
  blocks/active/UI-5/README.md
  blocks/active/UI-6/CHECKLIST.md
  blocks/active/UI-6/PROMPT.md
  blocks/active/UI-6/README.md
  blocks/active/UI-7/CHECKLIST.md
  blocks/active/UI-7/PROMPT.md
  blocks/active/UI-7/README.md
  blocks/registry.yaml
  cron.log
  docs/PR_BODY.md
  docs/PR_CLOSURE.md
  pytest.ini
  srv/api/dashboard.py
  srv/api/reports.py
  srv/api/templates/dashboard.html
  tests/integration/test_api_critical_series_integration.py
  tests/test_api_critical_series.py
  tests/test_ui_labs_critical.py
Owners: @app-team, @docs-team, @repo-admins

chore(blocks): mark APP-9 and UI-5 done
  blocks/done/APP-9/CHECKLIST.md
  blocks/done/APP-9/PROMPT.md
  blocks/done/APP-9/README.md
  blocks/done/UI-5/CHECKLIST.md
  blocks/done/UI-5/PROMPT.md
  blocks/done/UI-5/README.md
  blocks/registry.yaml
Owners: none

chore(blocks): normalize registry.yaml (valid YAML)
  blocks/registry.yaml
Owners: none

chore(blocks): normalize registry.yaml
  blocks/registry.yaml
Owners: none

UI-6: dashboard grid + responsive chart sizing; prevent summary overlap
  app/templates/components/labs_critical_page.html
  blocks/active/UI-6/PR_CLOSURE.md
  srv/api/dashboard.py
  srv/api/static/js/dashboard_charts.js
  srv/api/static/js/dashboard_charts.old.js
  srv/api/static/js/labs_critical_v2.js
  srv/api/static/style.css
  srv/api/templates/dashboard.html
  tests/test_ui_dashboard_layout.py
Owners: @app-team

UI-6: dashboard layout fix (grid + responsive canvas) (#4)
  app/templates/components/labs_critical_page.html
  blocks/active/UI-6/PR_CLOSURE.md
  blocks/registry.yaml
  srv/api/dashboard.py
  srv/api/static/js/dashboard_charts.js
  srv/api/static/js/dashboard_charts.old.js
  srv/api/static/js/labs_critical_v2.js
  srv/api/static/style.css
  srv/api/templates/dashboard.html
  tests/test_ui_dashboard_layout.py
Owners: @app-team

feat(ui+api): labs critical page, APP-9 critical-series, Redis caching, preview tooling (#3)
  .gitignore
  app/hp_etl/cache.py
  app/static/js/labs_critical_v2.js
  app/templates/components/labs_critical_page.html
  blocks/active/APP-10/CHECKLIST.md
  blocks/active/APP-10/PROMPT.md
  blocks/active/APP-10/README.md
  blocks/active/APP-11/CHECKLIST.md
  blocks/active/APP-11/PROMPT.md
  blocks/active/APP-11/README.md
  blocks/active/UI-6/CHECKLIST.md
  blocks/active/UI-6/PROMPT.md
  blocks/active/UI-6/PR_CLOSURE.md
  blocks/active/UI-6/README.md
  blocks/active/UI-7/CHECKLIST.md
  blocks/active/UI-7/PROMPT.md
  blocks/active/UI-7/README.md
  blocks/done/APP-9/CHECKLIST.md
  blocks/done/APP-9/PROMPT.md
  blocks/done/APP-9/README.md
  blocks/done/UI-5/CHECKLIST.md
  blocks/done/UI-5/PROMPT.md
  blocks/done/UI-5/README.md
  blocks/registry.yaml
  cron.log
  docs/PR_BODY.md
  docs/PR_CLOSURE.md
  pytest.ini
  srv/api/dashboard.py
  srv/api/reports.py
  srv/api/static/js/dashboard_charts.js
  srv/api/static/js/dashboard_charts.old.js
  srv/api/static/js/labs_critical_v2.js
  srv/api/static/style.css
  srv/api/templates/dashboard.html
  tests/integration/test_api_critical_series_integration.py
  tests/test_api_critical_series.py
  tests/test_ui_dashboard_layout.py
  tests/test_ui_labs_critical.py
Owners: @app-team, @docs-team, @repo-admins

chore(blocks): mark UI-6 done
  blocks/active/UI-6/README.md
  blocks/done/UI-6/CHECKLIST.md
  blocks/done/UI-6/PROMPT.md
  blocks/done/UI-6/PR_CLOSURE.md
  blocks/done/UI-6/README.md
  blocks/registry.yaml
Owners: none

APP-10: include=refs (ref_low/ref_high/unit + per-point flag) for critical-series
  blocks/active/APP-10/PROMPT.md
  blocks/active/APP-10/README.md
  blocks/registry.yaml
Owners: none

chore(blocks): mark APP-10 done
  blocks/done/APP-10/CHECKLIST.md
  blocks/done/APP-10/PROMPT.md
  blocks/done/APP-10/README.md
  blocks/registry.yaml
Owners: none

UI-7: ref bands, legend toggles, export-all CSV on labs page
  blocks/active/UI-7/PROMPT.md
  blocks/active/UI-7/README.md
  blocks/registry.yaml
Owners: none

chore(blocks): mark UI-7 done
  blocks/done/UI-7/CHECKLIST.md
  blocks/done/UI-7/PROMPT.md
  blocks/done/UI-7/README.md
  blocks/registry.yaml
Owners: none

chore(blocks): populate README/PROMPT/CHECKLIST with rich content for all blocks
  blocks/active/APP-11/CHECKLIST.md
  blocks/active/APP-11/PR_PLACEHOLDER.md
  blocks/active/UI-1/CHECKLIST.md
  blocks/active/UI-1/PR_PLACEHOLDER.md
  blocks/done/APP-10/CHECKLIST.md
  blocks/done/APP-10/PR_PLACEHOLDER.md
  blocks/done/APP-2/CHECKLIST.md
  blocks/done/APP-2/PROMPT.md
  blocks/done/APP-2/PR_PLACEHOLDER.md
  blocks/done/APP-2/README.md
  blocks/done/APP-3/PR_PLACEHOLDER.md
  blocks/done/APP-9/CHECKLIST.md
  blocks/done/APP-9/PR_PLACEHOLDER.md
  blocks/done/DB-1/CHECKLIST.md
  blocks/done/DB-1/PROMPT.md
  blocks/done/DB-1/PR_PLACEHOLDER.md
  blocks/done/DB-1/README.md
  blocks/done/UI-5/CHECKLIST.md
  blocks/done/UI-5/PR_PLACEHOLDER.md
  blocks/done/UI-6/PR_PLACEHOLDER.md
  blocks/done/UI-7/CHECKLIST.md
  blocks/done/UI-7/PR_PLACEHOLDER.md
Owners: none

docs(UI-7): mark active in registry; populate README/PROMPT/CHECKLIST; move from done→active
  blocks/registry.yaml
Owners: none

docs(blocks): add plain-text Blocks usage & playbook
  blocks/README.md
  blocks/active/UI-7/CHECKLIST.md
  blocks/active/UI-7/PROMPT.md
  blocks/active/UI-7/README.md
Owners: none

UI-6: restore Labs charts — add helpers, ensure containers, include Chart.js, responsive canvas
  app/static/js/labs_critical_v2.js
  app/templates/components/labs_critical_page.html
  blocks/active/UI-7/FINAL_SUMMARY.md
  cron.log
  srv/api/static/js copy/dashboard_charts.js
  srv/api/static/js copy/dashboard_charts.old.js
  srv/api/static/js copy/labs_critical_v2 copy 2.js
  srv/api/static/js copy/labs_critical_v2 copy.js
  srv/api/static/js copy/labs_critical_v2.js
  srv/api/static/js copy/report_summary_card.js
  srv/api/static/js/labs_critical_v2 copy 2.js
  srv/api/static/js/labs_critical_v2 copy.js
  srv/api/static/style.css
Owners: @app-team

chore(continue): add arch context and MCP stub
  .continue/context/arch.yaml
  .continue/mcpServers/new-mcp-server.yaml
Owners: none

fix(labs): load Chart.js + labs_critical_v2.js via labs_critical.html; add base head hook fallback
  app/templates/components/labs_critical_page.html
  srv/api/dashboard.py
  srv/api/static/js/chart.umd.min.js
  srv/api/static/js/labs_critical_v2.js
  srv/api/static/style.css
  srv/api/templates/base.html
  srv/api/templates/dashboard.html
  srv/api/templates/labs_critical.html
Owners: @app-team

fix(labs): load scripts via labs_critical.html; ensure base head hook; sync static JS
  srv/api/templates/base.html
  srv/api/templates/labs_critical.html
Owners: none

fix(labs): load scripts in template; date-only x-axis + autoskip; CSS cards/grid; prep dashboard two-col
  srv/api/dashboard.py
  srv/api/static/js/labs_critical_v2.js
  srv/api/static/style.css
  srv/api/templates/labs_critical.html
Owners: none

fix(labs): wire labs_critical.html + load Chart/labs JS; ensure /static mount; CSS layout
  srv/api/dashboard.py
  srv/api/main.py
  srv/api/templates/labs_critical.html
Owners: none

fix(labs): load chart + labs scripts from page body (no style changes)
  srv/api/templates/labs_critical.html
Owners: none

updated and modification to ui and cleanup
  .github/pgdb.md
  =
  CHANGE_LOG.md
  DATA_DEPENDANCIES.md
  app/api/main.py
  app/routers/liver.py
  app/templates/components/header.html
  app/templates/components/labs_liver_page.html
  cron.log
  favicon.ico
  scripts/parse_portal_text.py
  services/healthdb-pg-0001/init/054_liver_views.sql
  services/healthdb-pg-0001/init/055_liver_thresholds.sql
  services/healthdb-pg-0001/init/056_fix_liver_mv_unique_index.sql
  srv/api/dashboard.py
  srv/api/main.py
  srv/api/static/favicon.ico
  srv/api/static/js.broken/chart.umd.min.js
  srv/api/static/js.broken/dashboard_charts.js
  srv/api/static/js.broken/dashboard_charts.old.js
  srv/api/static/js.broken/labs_critical_v2 copy 2.js
  srv/api/static/js.broken/labs_critical_v2 copy.js
  srv/api/static/js.broken/labs_critical_v2.js
  srv/api/static/js.broken/report_summary_card.js
  srv/api/static/js/labs_critical_v2.fixed.js
  srv/api/static/js/labs_critical_v2.js.broken.backup
  srv/api/static/js/labs_critical_v2.safe.js
  srv/api/static/js/labs_critical_v2.stable.js
  srv/api/static/js/labs_liver_v1.js
  srv/api/static/js/labs_liver_v2.js
  srv/api/static/js/labs_overlays.js
  srv/api/static/js/labs_shared.js
  srv/api/static/style.css
  srv/api/templates/base.html
  srv/api/templates/dashboard.html
  srv/api/templates/includes/header.html
  srv/api/templates/ui_index.html
  tests/test_api_critical_series.py
Owners: @repo-admins, @app-team

working on shared labs page v2
  CHANGELOG.md
  CHANGE_LOG.md
  portal_ingest_out/663a5f9e-37a6-49da-b1e4-41057aabad56/duplicates.csv
  portal_ingest_out/663a5f9e-37a6-49da-b1e4-41057aabad56/rejections.csv
  portal_ingest_out/663a5f9e-37a6-49da-b1e4-41057aabad56/staged.csv
  portal_ingest_out/663a5f9e-37a6-49da-b1e4-41057aabad56/summary.json
  portal_ingest_out/bd2eca75-1ed5-4486-a044-ad5b12c3e5e7/duplicates.csv
  portal_ingest_out/bd2eca75-1ed5-4486-a044-ad5b12c3e5e7/rejections.csv
  portal_ingest_out/bd2eca75-1ed5-4486-a044-ad5b12c3e5e7/staged.csv
  portal_ingest_out/bd2eca75-1ed5-4486-a044-ad5b12c3e5e7/summary.json
  portal_ingest_out/staged_runs_20250914181430.txt
  portal_ingest_out/staged_runs_20250914182652.txt
  portal_ingest_out/staged_runs_20250914183307.txt
  portal_ingest_out/staged_runs_20250914183700.txt
  portal_ingest_out/staged_runs_20250914183910.txt
  portal_ingest_out/staged_runs_20250914184048.txt
  srv/api/dashboard.py
  srv/api/main.py
  srv/api/static/js/dashboard_charts.js
  srv/api/static/js/dashboard_events.js
  srv/api/static/js/labs_critical_v2.js
  srv/api/static/js/labs_liver_v2.js
  srv/api/static/js/labs_overlays.js
  srv/api/static/js/labs_shared_v2.js
  srv/api/templates/components/labs_critical_page.html
  srv/api/templates/components/labs_shared_page.html
  srv/api/templates/events.html
  tools/portal_ingest/finalize_portal_file_vfix.sh
  tools/portal_ingest/ingest_portal_vfix.py
  tools/portal_ingest/ingest_portal_vfix2.py
  tools/portal_ingest/preview_portal_merge.sh
  tools/portal_ingest/sql/build_portal_loinc_candidates.sql
  tools/portal_ingest/sql/merge_one_run_portal_vfix.sql
  tools/portal_ingest/sql/portal_local_loinc.sql
  tools/portal_ingest/stage_portal_files_vfix.sh
  tools/portal_ingest/stage_portal_files_vfix2.sh
  tools/portal_ingest/stage_portal_files_vfix3.sh
Owners: none

patch
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
  README_PORTAL_INGEST.md
  docs/architecture/Runbooks/Backup_Restore.md
  docs/architecture/Runbooks/Incident_Response.md
  docs/changes/README.md
  docs/changes/unreleased/.keep
  docs/changes/unreleased/seed.docs.md
  docs/how-to/Portal_Ingest.md
  docs/index.md
  docs/reference/api/README.md
  docs/reference/contracts/README.md
  docs/reference/data/README.md
  docs/runbooks/Backup_Restore.md
  docs/runbooks/Incident_Response.md
  scripts/release/aggregate_changes.py
  srv/api/static/js/labs_shared_v2.js
Owners: @repo-admins, @docs-team

more patching
  .github/workflows/docs.yml
  CHANGELOG.md
  DATA_DEPENDANCIES.md
  FHIR_ADDENDUM.md
  Makefile
  cron.log
  docs/architecture/Glossary_and_Naming.md
  docs/changes/unreleased/ci-enforce.docs.md
  docs/changes/unreleased/docs-reindex.feature.md
  docs/changes/unreleased/seed.docs.2.md
  docs/explanations/FHIR_Addendum.md
  docs/explanations/reporting_scaffold/Parallel_Workstreams_and_Interface_Contracts.md
  docs/explanations/reporting_scaffold/Platform_System_Improvements.md
  docs/explanations/reporting_scaffold/Program_System_Design_Consolidated_v0.1.x.md
  docs/explanations/reporting_scaffold/README.md
  docs/explanations/reporting_scaffold/System_Architecture_and_Design.md
  docs/reference/data/DATA_DEPENDENCIES.md
  docs/reference/glossary.md
  docs/runbooks/Backup_Restore.md
  docs/runbooks/backups.md
  portal_ingest_out/staged_runs_20250915022415.txt
  portal_ingest_out/staged_runs_20250915022539.txt
  scripts/docs/build_adr_index.py
  scripts/docs/build_catalog.py
  scripts/docs/build_code_map.py
  scripts/docs/build_contracts_registry.py
  scripts/docs/build_glossary_synonyms.py
  scripts/docs/link_check.py
  scripts/docs/reindex_docs.py
  scripts/docs/staleness_report.py
  srv/api/static/js/labs_shared_v2.js
Owners: @repo-admins, @docs-team

docs and arch update
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .project/issues/01-epic-00-repo-plumbing-&-env.md
  .project/issues/02-set-up-hapi-fhir-+-postgres-(r4).md
  .project/issues/03-c-cda-→-fhir-conversion-pipeline.md
  .project/issues/04-apple-health-export-→-fhir-observations.md
  .project/issues/05-terminology:-loinc,-rxnorm,-snomed,-ucum.md
  .project/issues/06-idempotent-dedupe-&-provenance-model.md
  .project/issues/07-materialized-views-for-ui.md
  .project/issues/08-cql-guideline-rules.md
  .project/issues/09-cds-hooks-service-(patient-view).md
  .project/issues/10-smart-on-fhir-app-(oracle-health-sandbox).md
  .project/issues/11-charting-accelerator.md
  .project/issues/12-consumer-narrative-layer.md
  .project/issues/13-genomics:-vep-+-cpic-clinvar.md
  .project/issues/14-fhir-→-omop-etl-&-cohorting.md
  .project/issues/15-rpm-rtm-workflows-&-dashboards.md
  .project/issues/16-security-&-privacy-hardening.md
  CHANGELOG-PATCH.md
  CHANGE_LOG.md
  docs/project/PROJECT_BOARD.md
  srv/api/dashboard.py
  srv/api/static/js/labs_shared_v2.js
  srv/api/static/js/labs_shared_v3.js
  srv/api/static/style.css
  srv/api/templates/components/labs_shared_page.html
  tools/project_board/bootstrap_issues.sh
  tools/project_board/uninstall.sh
  tools/project_board/verify.sh
Owners: @repo-admins, @docs-team

v.3 arch update
  .gitignore
  Makefile
  config/backends.json
  docs/apple/APPLE_HEALTH.md
  docs/fhir/LOCAL_STACK.md
  docs/project/MULTI_BACKEND.md
  ops/apple_health/convert.sh
  ops/apple_health/parse_health.py
  ops/apple_health/samples/export.min.xml
  ops/hapi_fhir/docker-compose.yml
  ops/hapi_fhir/seed.sh
  ops/hapi_fhir/smoke.sh
  srv/api/static/js/labs_shared_v3.js
  tools/multibackend/gen_runtime.py
  tools/multibackend/uninstall.sh
  tools/multibackend/use-backend.sh
  tools/multibackend/verify.sh
Owners: @docs-team, @repo-admins

Hotfix3: re-install Apple Health stage (full files + samples dir)
  docs/apple/APPLE_HEALTH.md
  ops/apple_health/convert.sh
  ops/apple_health/parse_health.py
  ops/apple_health/samples/export.min.xml
Owners: @docs-team, @repo-admins

.github/CODEOWNERS:

# Restrict changes in critical areas
/services/healthdb-pg-0001/migrations/ @db-team @repo-admins
/api/openapi.*.yaml                      @app-team @repo-admins
/app/                                    @app-team
/docs/                                   @docs-team @repo-admins
/.github/                                 @repo-admins
